@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --color-bg-primary: #e8e8e8;
  --color-bg-secondary: #212121;
  --color-text: rgb(5, 6, 15, 80%);
  --color-green: #00ffa0;
  --color-black: #05060f;
  --color-violet: #664eff;
}

@theme {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);

  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-text);

  --color-green: var(--color-green);
  --color-black: var(--color-black);
  --color-violet: var(--color-violet);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section {
  scroll-snap-align: start;
  /* height: 100vh; */
}

h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.container {
  @apply w-full mx-auto px-4;
}

@media (min-width: 640px) {
  .container {
    @apply max-w-screen-sm px-6;
  }
}

@media (min-width: 768px) {
  .container {
    @apply max-w-screen-md px-8;
  }
}

@media (min-width: 1024px) {
  .container {
    @apply max-w-screen-lg px-10;
  }
}

@media (min-width: 1280px) {
  .container {
    @apply max-w-screen-xl px-12;
  }
}
